body {
    font: normal 12px arial, serif ;
}

h1 {
    text-align: center;
    color: red;
}

span {
    font: normal 18px arial, verdana, serif;
    font-weight: bold;

}

p {
    text-align: justify;
    text-indent: 15px;
    color: blue;
    font-style: italic;
    
}