body {
    font: normal 12px arial, serif ;    
     background:linear-gradient(rgb(221, 221, 231),yellow);
}

h1 {
    text-align: center;
    color: red;
}

span {
    font: normal 18px arial, verdana, serif;
    font-weight: bold;

}

p {
    text-align: justify;
    text-indent: 15px;
    color: rgb(7, 7, 10);
    font-style: italic;
    
}